* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grey: #444444;
  --white: #ffffff;
  --black: #000000;
  --greybg: #8c8c8c0f;
  --bottomborder: #8c8c8cad;
}


header {
  height: 10vh;
  width: 100vw;
  padding: 0px 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#checked {
  display: none;
}
.list {
  position: absolute;
  right: 100px;
  width: 60px;
  cursor: pointer;
  display: none;
  color: var(--grey);
}
header .first h1 {
  font-size: 24px;
  color: var(--grey);
}
header .second nav a {
  text-decoration: none;
  font-size: 18px;
  color: var(--grey);
}
header .second nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
header .second .icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
header .second {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}


.landing-page {
  height: fit-content;
  display: flex;
}
.landing-page .first {
  width: 50%;
}
.landing-page .first img {
  width: 100%;
}
.landing-page .second {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.landing-page .second h2 {
  width: 500px;
}
.landing-page .second button {
  height: 40px;
  width: 166px;
  font-weight: 600;
  background-color: var(--black);
  color: var(--white);
}


.our-services {
  height: 90vh;
  background-color: var(--greybg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px;
}
.our-services .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.our-services .second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.our-services .second div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 250px;
}
.our-services .first h1 {
  font-size: 55px;
}


.our-features {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-features .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 50%;
  padding: 50px;
}
.our-features .second {
  width: 50%;
}
.our-features .first div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.our-features .first div h1 {
  font-size: 35px;
}
.our-features .first div h2 {
  font-size: 25px;
}
.our-features .second {
  width: fit-content;
}


.some-facts {
  background-color: var(--black);
  height: 90vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.some-facts .second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 200px;
}
.some-facts .second div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.some-facts .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.some-facts .first h1 {
  font-size: 55px;
}


.our-pricing {
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.our-pricing .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.our-pricing .first h1 {
  font-size: 55px;
}
.our-pricing .second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}
.our-pricing .second div {
  display: flex;
  background-color: #8c8c8c0f;
  width: 300px;
  border-radius: 50px;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.our-pricing .second div button {
  height: 40px;
  width: 166px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 550;
}
.our-pricing .second div h1 {
  font-size: 45px;
}
.our-pricing .second div h2 {
  font-size: 35px;
}


.video {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}
.video div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 500px;
  padding: 50px;
}
.video div h1 {
  font-size: 45px;
}

.img1 {
  height: fit-content;
  display: flex;
}
.img1 .first {
  width: 50%;
}
.img1 .first img {
  width: 100%;
}
.img1 .second {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img1 .second div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 430px;
}
.img1 .second div h1 {
  font-size: 55px;
}
.img1 .second div button {
  height: 40px;
  width: 166px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 550;
}

.img2 {
  height: fit-content;
  display: flex;
  background-color: var(--greybg);
}
.img2 .second {
  width: 50%;
}
.img2 .second img {
  width: 100%;
}
.img2 .first {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img2 .first div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 430px;
}
.img2 .first div h1 {
  font-size: 55px;
}
.img2 .first div button {
  height: 40px;
  width: 166px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 550;
}

.portfolio {
  height: fit-content;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.portfolio .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.portfolio .first h1 {
  font-size: 55px;
}
.portfolio .second {
  display: flex;
  gap: 50px;
  color: grey;
}
.portfolio .third {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.portfolio .third div img {
  width: 100%;
}


.subscribe {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
}
.subscribe div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 500px;
  padding: 50px;
}
.subscribe div h1 {
  font-size: 55px;
}
.subscribe div input {
  padding: 20px;
  height: 50px;
  width: 450px;
}
.subscribe div button {
  height: 40px;
  width: 166px;
  background-color: var(--black);
  color: var(--white);
  border: var(--white) solid 2px;
}


.faq {
  height: fit-content;
  display: flex;
  background-color: var(--greybg);
}
.faq .first {
  width: 50%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.faq .first h1 {
  font-size: 55px;
}
.faq .second {
  width: 50%;
}
.faq .second img {
  width: 100%;
  height: 100%;
}
.faq .first .d {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq .first .d1 {
  display: flex;
  padding: 20px;
  gap: 10px;
  border-bottom: 1px solid var(--bottomborder);
}
.faq .first .d1 {
  width: 400px;
}

.contact {
  height: 120vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact .first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact .first h1 {
  font-size: 55px;
}
.contact .second .inneur1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contact .second .inneur1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact .second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact .inneur2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .second .inneur2 .flex-row .flex input {
  height: 52px;
  padding: 20px;
  width: 290px;
}
.contact input {
  height: 52px;
  padding: 20px;
  width: 590px;
}
.contact .text-area input {
  height: 100px;
}
.contact .inneur2 div button {
  height: 52px;
  width: 166px;
  background-color: var(--black);
  color: var(--white);
}
@media (max-width: 1353px) {
  .landing-page {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .landing-page .first {
    width: 100%;
  }
  .landing-page .first img {
    width: 100%;
  }
  .landing-page .second {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    margin: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .landing-page .second h2 {
    width: 500px;
  }
  .landing-page .second button {
    height: 40px;
    width: 166px;
    font-weight: 600;
    background-color: var(--black);
    color: var(--white);
  }
}
@media (max-width: 1100px) {
  .our-services .second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
  .some-facts .second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px 200px;
  }
  .our-pricing {
    height: fit-content;
    padding: 100px;
  }
  .our-pricing .second {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
  }
  .our-pricing .second div {
    display: flex;
    background-color: #8c8c8c0f;
    width: 450px;
    border-radius: 50px;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .contact {
    height: fit-content;
  }
  .contact .second {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .contact .second .inneur2 .flex-row .flex input {
    height: 52px;
    padding: 20px;
    width: 230px;
  }
  .contact input {
    height: 52px;
    padding: 20px;
    width: 470px;
  }
  .contact .text-area input {
    height: 100px;
  }
  footer {
    height: fit-content;
  }
  footer .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 1130px) {
  .our-features {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-features .second {
    width: 100%;
  }
  .our-features .second img {
    width: 100%;
  }
  .img1 {
    display: flex;
    flex-direction: column;
  }
  .img1 .first {
    width: 100%;
  }
  .img1 .second {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img2 {
    display: flex;
    flex-direction: column;
  }
  .img2 .second {
    width: 100%;
  }
  .img2 .first {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio .third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .faq {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--greybg);
  }
  .faq .second {
    width: 100%;
  }
  .faq .first {
    width: 100%;
    padding: 100px;
  }
}
@media (max-width: 600px) {
  .our-services {
    height: fit-content;
  }
  .our-services .first h1 {
    font-size: 45px;
  }
  .our-services .second {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
  .our-features .first div h1 {
    font-size: 25px;
  }
  .our-features .first div h2 {
    font-size: 15px;
  }
  .some-facts {
    height: fit-content;
    padding: 50px;
  }
  .some-facts .second {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
  .portfolio .second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: grey;
  }
  .portfolio .third {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 700px) {
  footer {
    height: fit-content;
  }
  footer .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (max-width: 1353px) {
  .list {
    display: inline-flex;
  }

  #checked:checked ~ .list #menulist {
    display: none;
  }

  #checked:checked ~ .list #closelist {
    display: block;
  }

  .link {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    background-color: #fff;
    backdrop-filter: blur(50%);
    box-shadow: 0 0.1px 0.3rem rgb(123, 123, 123);
    transition: 0.3s ease;
    overflow: hidden;
  }

  #checked:checked ~ .link {
    height: 12rem;
  }

  .link a {
    display: flex;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    color: var(--grey);
  }

  .list #closelist {
    display: none;
  }
}
